@use 'src/styles/variables';
@use 'src/styles/reset';
@use 'src/styles/global';

.dropdown-catalog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 99;
}
.dropdown-catalog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.26);
  min-width: 180px;
  margin-top: 23px;
  padding: 12px 0;
  animation: fadeIn 0.2s ease-in-out;
  &__content {
    display: flex;
    flex-direction: row;
    &.mobile {
      flex-direction: column;
    }
  }
  &__categories,
  &__subcategories {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 180px;
  }
  &__category,
  &__subcategory {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 400;
    &:hover {
      background-color: variables.$background-color;
    }
  }
  &__category {
    color: variables.$grey-color;
    &.active {
      font-weight: 500;
      color: #000;
    }
  }
  &__subcategories {
    .mobile & {
      padding-left: 24px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
