@use 'src/styles/variables';
@use 'src/styles/reset';
@use 'src/styles/global';

.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  &__title {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
  }
  &__link {
    @extend .btn;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    background-color: variables.$primary-color;
  }
}
