@use 'src/styles/variables';
@use 'src/styles/reset';
@use 'src/styles/global';

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 100px;
  &__item {
    color: variables.$grey-color;
    background-color: variables.$secondary-color;
    border-radius: 8px;
  }
  &__item--active {
    .pagination__item-link {
      color: #000;
      background-color: variables.$primary-color;
    }
  }
  &__item-link {
    @extend .btn;
    min-width: 58px;
    height: 40px;
    cursor: pointer;
    padding: 5px 10px;
    box-shadow: none;
    &:active {
      transform: none;
    }
  }
  &__item-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
}
