@use 'src/styles/variables';
@use 'src/styles/reset';
@use 'src/styles/global';

.reviews {
  margin-bottom: 34px;
  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &__carousel {
    position: relative;
    padding: 0 30px;
    .slick-slider {
      position: static;
      .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        width: 30px;
        height: 30px;
        background-color: transparent;
        cursor: pointer;
        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.slick-prev {
          left: 0;
          transform: scaleX(-1) translateY(-50%);
          &::before {
            background-image: url('/images/carousel-arrow.svg');
            background-position: center;
          }
        }
        &.slick-next {
          right: 0;
          &::before {
            background-image: url('/images/carousel-arrow.svg');
            background-position: center;
          }
        }
        &.slick-disabled {
          cursor: not-allowed;
          pointer-events: none;
        }
      }
      .slick-list {
        overflow: hidden;
        padding: 20px 0;
      }
      .slick-track {
        display: flex;
        align-items: stretch;
      }
      .slick-slide {
        padding: 0 16px;
        height: auto;
      }
      .slick-slide > div {
        height: 100%;
      }
    }
  }
  .review__card {
    padding: 30px 50px;
    box-shadow: variables.$box-shadow;
    border-radius: 8px;
    min-height: 220px;
    height: 100%;
  }
  .review__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .review__username {
    font-size: 22px;
    font-weight: 500;
  }
  .review__date {
    font-size: 0.9rem;
    margin-bottom: 16px;
  }
  .review__text span {
    font-weight: 500;
  }
}
