@use '../src/styles/variables' as variables;

.aside-menu {
  font-size: 14px;
  width: 200px;
  height: 100%;
  background-color: variables.$secondary-color;

  .menu-title {
    color: variables.$light-background;
    background-color: variables.$title-color;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px;
      cursor: pointer;
      border-top: 1px solid variables.$light-background;
    }
    .active {
      color: variables.$primary-color;
    }
  }

  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-list {
    color: variables.$light-background;
    background-color: variables.$text-color;
  }

  .dropdown-list li {
    padding-left: 20px;
  }
}

