@use '../src/styles/variables' as variables;

.products-manager {
  margin: 10px;
  width: 100%;
  min-height: 34px;
  height: 100%;

  h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: variables.$title-color;
  }
}


