@use 'variables';

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  min-width: 320px;
}

header,
footer{
  background-color: variables.$primary-color;
}

main {
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  &__title {
    font-size: 24px;
  }
}

.contacts {
  line-height: 20px;
  text-align: right;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: variables.$box-shadow;
  border-radius: 8px;
  padding: 7px 15px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  &:hover {
    box-shadow: variables.$box-shadow__hover;
  }
  &:active {
    transform: translateY(2px);
  }
}

.table {
  padding: 24px 14px;
  width: 100%;
  tr {
    td {
      padding: 8px 5px;
    }
  }
  &__parameter {
      color: variables.$grey-color;
      width: 360px;
  }
}

.catalog-btn {
  @extend .btn;
  width: 141px;
  height: 36px;
  background-color: variables.$primary-color;
  margin-left: 30px;
  &__icon-wrapper {
    position: relative;
    width: 21px;
    height: 21px;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
    &.fade-in {
      opacity: 1;
    }
    &.fade-out {
      opacity: 0;
    }
  }
  &__title {
    font-size: 14px;
    font-weight: 600;
    padding-left: 17px;
  }
}

.home-btn,
.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 54px;
  background-color: variables.$background-color;
  border-radius: 8px;
  box-shadow: variables.$box-shadow;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  &:hover {
    box-shadow: variables.$box-shadow__hover;
  }
  &:active {
    transform: translateY(2px);
  }
}

.cart-btn {
  position: relative;
}

.cart-btn__count {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$primary-color;
  border: 1px solid #A0A0A0;
  border-radius: 50%;
  font-size: 12px;
  padding: 5px;
}

.return-btn {
  display: none;
  @extend .btn;
  width: 39px;
  height: 39px;
  padding: 10px;
  background-color: variables.$primary-color;
  margin: 10px;
  &.visible {
    display: flex;
  }
  .return__img {
    transform: scaleX(-1);
  }
}
