@use 'variables';

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  min-width: 320px;
}

header,
footer{
  background-color: variables.$primary-color;
}

main {
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  &__title {
    font-size: 24px;
  }
}

.contacts {
  line-height: 20px;
  text-align: right;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: variables.$box-shadow;
  border-radius: 8px;
  padding: 7px 15px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  &:hover {
    box-shadow: variables.$box-shadow__hover;
  }
  &:active {
    transform: translateY(2px);
  }
}
