@use 'variables';
@use 'reset';
@use 'global';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__block {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__block-drop-down-list {
    position: relative;
    z-index: 100;
    background-color: variables.$background-color;
    border-radius: 8px;
    margin: 16px 0;
    padding: 6px 18px 6px 13px;
  }
  &__contacts {
    margin-left: 58px;
  }
}
