$primary-color: #C0E3DE;
$secondary-color: #D9D9D9;
$background-color: #F3F1F1;
$light-background: #FEFEFE;
$grey-color: #737373;
$box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.26);
$box-shadow__hover: 0 0 4px 0 rgba(0, 0, 0, 0.5);
