@use 'variables';
@use 'reset';
@use 'global';
@use 'media';

/*---------- header ----------*/
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__block {
    display: flex;
    align-items: center;
  }
  &__block-drop-down-list {
    background-color: variables.$background-color;
    border-radius: 8px;
    margin: 16px 0;
    padding: 6px 18px 6px 13px;
  }
  &__catalog-btn {
    width: 141px;
    height: 36px;
    display: flex;
    align-items: center;
    box-shadow: variables.$box-shadow;
    background-color: variables.$primary-color;
    border-radius: 8px;
    margin-left: 37px;
    padding: 7px 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    &:hover {
      box-shadow: variables.$box-shadow__hover;
    }
    &:active {
      transform: translateY(2px);
    }
  }
  .catalog-btn__title {
    font-size: 14px;
    font-weight: 600;
    padding-left: 17px;
  }
  &__cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 54px;
    background-color: variables.$background-color;
    border-radius: 8px;
    box-shadow: variables.$box-shadow;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    &:hover {
      box-shadow: variables.$box-shadow__hover;
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &__contacts {
    margin-left: 58px;
  }
}

/*---------- banner ----------*/
.banner {
  margin: 18px 0;
  &__inner {
    background-image: url("/public/images/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 215px;
    padding: 30px;
  }
  &__title {
    font-size: 76px;
    max-width: 600px;
  }
  &__subtitle {
    font-size: 27px;
    font-weight: 400;
    max-width: 400px;
  }
}

/*---------- catalog ----------*/
.catalog {
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 46px 23px;
    padding-bottom: 100px;
  }
  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: variables.$box-shadow;
    height: 616px;
  }
  .product-card__img {
    width: 100%;
    max-height: 320px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .product-card__info {
    flex-grow: 1;
    margin: 27px 23px 53px;
    text-align: center;
  }
  .product-card__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .product-card__description {
    line-height: 19px;
  }
  .product-card__marketplace {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 23px 52px;
  }
  .marketplace__item-link {
    display: inline-block;
    transition: transform 0.3s ease;
    img {
      width: 36px;
      height: 36px;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}

/*---------- footer ----------*/
.footer {
  &__inner {
    padding: 20px;
  }
  &__block-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__block-inner {
    display: flex;
    align-items: center;
    gap: 22px;
  }
  &__nav {
    font-size: 12px;
    line-height: 1.8;
    display: flex;
    gap: 130px;
    margin-left: 110px;
  }
  &__social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  &__social-link {
    display: inline-block;
    transition: transform 0.3s ease;
    img {
      width: 36px;
      height: 36px;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  &__contacts {
    font-size: 20px;
    line-height: 1.4;
  }
  &__block-copyrights {
    font-size: 10px;
    text-align: center;
    color: variables.$grey-color;
  }
}
